
<div class="banner" style="background-image: url('<%= image_path("marcelLPHD.jpg") %>'); ">

  <div class="banner-content">

    <div class="coming-soon">
      <p><%= t('welcome') %></p>
      <h1>Marcel Gourmet Burger</h1>
      <p><%= t('website-coming-soon') %></p>
    </div>

    <div class="container">
      <div class="row">

        <div class=" col-xs-12 col-md-3 opening-hours">
          <p><%= t('opening-days') %></p>
          <p><%= t('opening-hours') %></p>
        </div>

        <div class="col-xs-12 col-md-3 col-md-offset-6 address">
          <p><%= t('address') %></p>
          <p><%= t('city') %></p>
        </div>

      </div>
    </div>
  </div>
</div>

