<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Marcel Gourmet Burger</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

    <meta name="description" content="French gourmet burger joint in Saigon">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Marcel Gourmet Burger" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= image_path "marcelLPHD.jpg" %>" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="marcelburger.vn"/>
    <link rel="icon" type="image/png" href="<%= image_path "favicon-marcel.jpg" %>" />


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93357198-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-93357198-2');
    </script>


</head>
  <body>

    <% if content_for?(:navbar) %>
       <%= yield(:navbar) %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
